@font-face {
  font-family: FakeArabic;
  src: url('fonts/fakearab.otf');
}

@font-face {
  font-family: AladdinFont;
  src: url('fonts/aladdin.ttf');
}

body {
	/*font-family: FakeArabic;*/
	background-image: url('images/wallpaper.jpg');
	background-repeat: repeat;
}

#layouttbl {
	margin: auto;
	background-color: white;
	width: 1024px;
}

#sitetitle {
	color: red;
	font-family: AladdinFont;
	font-weight: bold;
	font-size: 36pt;
}

.sidebar {
	width: 120px;
}
